@font-face {
           font-family: ELTA Sans Regular;
		   src: url(../webfonts/AeonikPro-Regular.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA Sans Medium;
		   src: url(../webfonts/AeonikPro-Medium.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA Sans Bold;
		   src: url(../webfonts/AeonikPro-Bold.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA Sans Title Regular;
		   src: url(../webfonts/AeonikExtendedPro-Regular.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA Sans Title Medium;
		   src: url(../webfonts/AeonikExtendedPro-Medium.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA Sans Title SemiBold;
		   src: url(../webfonts/AeonikExtendedPro-SemiBold.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA Sans Title Bold;
		   src: url(../webfonts/AeonikExtendedPro-Bold.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
		
		
		
@font-face {
           font-family: ELTASans Text Light;
		   src: url(../webfonts/corp/PPNeueCorp-NormalUltralight.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTASans Text Medium;
		   src: url(../webfonts/corp/PPNeueCorp-NormalMedium.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
		
		
		
@font-face {
           font-family: ELTASans Title Light;
		   src: url(../webfonts/corp/PPNeueCorp-WideUltralight.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA Sans Corp Medium;
		   src: url(../webfonts/corp/PPNeueCorp-WideMedium.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
		
		
		
		
@font-face {
           font-family: ELTA-Sans Light;
           src: url(../webfonts/pp/PPPangramSans-Light.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA-Sans Regular;
           src: url(../webfonts/pp/PPPangramSans-Medium.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA-Sans Semibold;
           src: url(../webfonts/pp/PPPangramSans-Semibold.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA-Sans Bold;
           src: url(../webfonts/pp/PPPangramSans-Bold.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTA-Sans Compact;
           src: url(../webfonts/pp/PPPangramSans-CompactRegular.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
		
		
		
@font-face {
           font-family: ELTASans Light;
           src: url(../webfonts/ss/SuisseIntl-Light.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTASans Regular;
           src: url(../webfonts/ss/SuisseIntl-Regular.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
@font-face {
           font-family: ELTASans Bold;
           src: url(../webfonts/ss/SuisseIntl-SemiBold.woff2) format('woff2');
           font-display: swap;
           font-style: normal;
        }
		
		
		
				


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	} 

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #FFF;
	} 
	     
		 body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	html {
		font-size: 16px;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 15px;
			}

		}

		@media screen and (max-width: 1366px) {

			html {
				font-size: 14px;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 14px;
			}

		}

		@media screen and (max-width: 1180px) {

			html {
				font-size: 14px;
			}

		}

		@media screen and (max-width: 1080px) {

			html {
				font-size: 14px;
			}

		}

		@media screen and (max-width: 980px) {

			html {
				font-size: 14px;
			}

		}

		@media screen and (max-width: 820px) {

			html {
				font-size: 14px;
			}

		}
		
		@media screen and (max-width: 736px) {

			html {
				font-size: 12px;
			}

		}

		@media screen and (max-width: 480px) {

			html {
				font-size: 12px;
			}

		}

		@media screen and (max-width: 375px) {

			html {
				font-size: 12px;
			}

		}

	body {
		background-color: #FFF;
		color: #000000;
	}

	body, input, select, textarea {
		font-family: 'ELTA Sans Regular', Roboto, Helvetica, sans-serif;
		font-feature-settings: "ss02";
	    letter-spacing: normal;
		text-rendering: optimizeLegibility;
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
		font-size: 1rem;
	}

	a {
		-webkit-tap-highlight-color: transparent !important;
        outline: none !important;
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		text-decoration: none;
		color: inherit;
		user-select: none;
	}

		a:hover {
			text-decoration: none;
		}
		
	strong, b {
		 font-family: 'ELTA Sans Medium', Helvetica, sans-serif;
		 font-weight: normal;
	}

	em, i {
		font-style: italic;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}
		
		.upup {
			text-transform: uppercase;
		}
		
		.medium_tx {
			font-family: 'ELTA Sans Medium', Helvetica, sans-serif;
		    font-weight: normal;
		}
		
		.bold_tx {
			font-family: 'ELTA Sans Bold', Helvetica, sans-serif;
		    font-weight: normal;
		}
		
		.regular_tt {
			font-family: 'ELTA Sans Title Regular', Helvetica, sans-serif;
		    font-weight: normal;
		}
		
		.medium_tt {
			font-family: 'ELTA Sans Title Medium', Helvetica, sans-serif;
		    font-weight: normal;
		}
		
		.semibold_tt {
			font-family: 'ELTA Sans Title SemiBold', Helvetica, sans-serif;
		    font-weight: normal;
		}
		
		.bold_tt {
			font-family: 'ELTA Sans Title Bold', Helvetica, sans-serif;
		    font-weight: normal;
		}
		
	p {
		font-size: 1.25rem;
		line-height: 1.2;
	}
	
	h1 {
		font-size: 2.5rem;
		line-height: 1.05;
	}
	
	h1.special_one {
		font-size: 3rem;
		line-height: 1.05;
	}
	
	h1.special_two {
		font-size: 3rem;
		line-height: 1.05;
	}
	
	h1.special {
		font-size: 2.5rem;
		line-height: 1;
	}
	
	h1.title {
		font-size: 4rem;
		line-height: 1;
	}

	h2 {
		font-size: 2.55rem;
		line-height: 1.1;
	}

	h3 {
		font-size: 1.5rem;
		line-height: 1.05;
	}

	h4 {
		font-size: 1.5rem;
		line-height: 1.1;
	}

	h5 {
		font-size: 1rem;
		line-height: 1.2;
	}

	h6 {
		font-size: 0.9rem;
		line-height: 1.2;
	}
	
	sub {
		font-size: 0.8rem;
		position: relative;
		top: 0.5rem;
	}

	sup {
		font-size: 0.9rem;
		position: relative;
		top: -1rem;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 2rem 0;
		padding: 0.5rem 0 0.5rem 2rem;
	}

	code {
		border-radius: 4px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25rem;
		padding: 0.25rem 0.325rem;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2rem 0;
	}

		pre code {
			display: block;
			line-height: 1.5;
			padding: 0.75rem 1rem;
			overflow-x: auto;
		}

	hr {
		border: 0;
		margin: 2.5rem 0;
	}

		hr.start {
			border: 0;
		    margin: 1rem 0;
		}
		
		hr.block {
			border: 0;
		    margin: 5rem 0;
		}
		
		hr.lineer {
			border-bottom: 1px solid rgba(0, 0, 0, .5);
			margin: 10rem 0 2rem 0;
		}
		
		hr.lineer_min {
			border-bottom: 1px solid rgba(0, 0, 0, .15);
			margin: 1rem 0;
		}
		
		hr.lineer_block {
			border-bottom: 1px solid rgba(0, 0, 0, .15);
			margin: 4rem 0;
		}
		
		hr.lineer_block_text {
			border-bottom: 1px solid rgba(0, 0, 0, .15);
			margin: 8rem 0 7rem 0;
		}
		
		hr.lineer_bottom {
			border-bottom: 1px solid rgba(0, 0, 0, .15);
			margin: 10rem 0 1.5rem 0;
		}
		
		hr.lineer_bottom_small {
			border-bottom: 1px solid rgba(0, 0, 0, .15);
			margin: 10rem 0 1.5rem 0;
		}
		
		hr.lineer_start {
			border-bottom: 1px solid rgba(0, 0, 0, .15);
			margin: 0 0 4rem 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}
	
	@media screen and (max-width: 1680px) {
		
		h1.special_one {
		    font-size: 2.8rem;
	    }
		
		h1.special_two {
		    font-size: 2.8rem;
	    }
	}
	
	@media screen and (max-width: 1366px) {
		
		h1.special_one {
		    font-size: 2.8rem;
	    }
		
		h1.special_two {
		    font-size: 2.7rem;
	    }
		
		h1.special {
		    font-size: 2.15rem;
	    }
		
		h2 {
		    font-size: 2.35rem;
	    }
		
	}

	@media screen and (max-width: 1280px) {

		h1 {
		    font-size: 2.4rem;
	    }
		
		h1.special_one {
		    font-size: 2.75rem;
	    }
		
		h1.special_two {
		    font-size: 2.6rem;
	    }
		
		h1.special {
		    font-size: 2.35rem;
	    }
	}
	
	@media screen and (max-width: 1180px) {

		h1 {
		    font-size: 2rem;
	    }
		
		h1.special_one {
		    font-size: 2.5rem;
	    }
		
		h1.special_two {
		    font-size: 2.4rem;
	    }
		
		h1.special {
		    font-size: 2.15rem;
	    }
		
		h2 {
		    font-size: 2rem;
	    }

	}
	
	@media screen and (max-width: 1080px) {

		h1 {
		    font-size: 1.75rem;
	    }
		
		h1.special_one {
		    font-size: 2.15rem;
	    }
		
		h1.special_two {
		    font-size: 2rem;
	    }
		
		h1.special {
		    font-size: 1.75rem;
	    }
		
		h2 {
		    font-size: 1.5rem;
	    }

	}
	
	@media screen and (max-width: 820px) {

		p {
			width: 80%;
	    }
		
		h1 {
			font-size: 1.75rem;
	    }
		
		h1.special_one {
			font-size: 2.5rem;
			line-height: 1;
	    }
		
		h1.special_two {
		    font-size: 2.35rem;
	    }
		
		h1.special {
		    font-size: 2rem;
	    }
		
		h2 {
			font-size: 1.85rem;
			line-height: 0.95;
			width: 80%;
	    }

	}
	
	@media screen and (max-width: 736px) {
		
	    p {
			font-size: 1.3rem;
			line-height: 1.2;
			width: 100%;
	    }
		
		h1 {
			font-size: 1.8rem;
			line-height: 1.1;
	    }
		
		h1.special_one {
			font-size: 2.1rem;
			line-height: 1;
		}
		
		h1.special_two {
		    font-size: 2.05rem;
			line-height: 1.1;
	    }
		
		h1.special {
			font-size: 1.8rem;
			line-height: 1.05;
		}
		
		h1.title {
			font-size: 2.65rem;
			line-height: 1.15;
		}
		
		h2 {
			font-size: 1.5rem;
			line-height: 1.2;
			width: 100%;
	    }
		
		h3 {
			font-size: 1.35rem;
			line-height: 1.05;
	    }
		
		h4 {
			font-size: 1.7rem;
			line-height: 1.1;
	    }
		
		h5 {
			font-size: 1.1rem;
			line-height: 1.2;
	    }
		
		h6 {
			font-size: 1rem;
			line-height: 1;
	    }
		
		hr {
			margin: 1.5rem 0;
		}
		
		hr.start {
			margin: 2.5rem 0;
		}
		
		hr.block {
			margin: 4rem 0;
		}
		
		hr.lineer {
		    margin: 7rem -1rem;
		}
		
		hr.lineer_block {
		    margin: 4rem 0;
		}
		
		hr.lineer_block_text {
		    margin: 4rem 0;
		}
		
		hr.lineer_bottom {
		    margin: 7rem 0 1rem 0;
		}
		
		hr.lineer_bottom_small {
		    margin: 0 0 1rem 0;
		}

	}

	a {
		-webkit-tap-highlight-color: transparent !important;
        outline: none !important;
		color: rgba(0, 0, 0, 1);
	}

		a:hover {
			color: rgba(0, 0, 0, 0.5);
		}
		
		a:active, a:visited:active {
			color: rgba(0, 0, 0, 1);
		}
		
	
	
	.colort_Eg_100 {
		color: #676869;
	}
	
	.colort_Eg_50 {
		color: #979899;
	}


/* Box */

	.box {
		position: relative;
		background-color: inherit;
		padding: 2rem;
		margin: 0;
		width: 100%;
		height: 100%;
		border: none;
		border-radius: 0.35rem;
	}
	
	  .box_bg_01 {
		  background-color: rgba(39, 38, 35, 1);
	  }
	  
	  .box_bg_02 {
		  -moz-transition: color 0.2s ease-in-out;
		  -webkit-transition: color 0.2s ease-in-out;
		  -ms-transition: color 0.2s ease-in-out;
		  transition: color 0.2s ease-in-out;
		  background-color: rgba(240, 240, 240, 1);
	  }
	  
	      a .box_bg_02:hover {
		      background-color: rgba(39, 38, 35, 1);
		      color: #FFF;
	      }
	  
	.box02 {
		position: relative;
		background-color: inherit;
		padding: 2rem;
		margin: 0;
		width: 100%;
		border: none;
		border-radius: 0.35rem;
	}
	
	  .box02_bg_02 {
		  background-color: rgba(240, 240, 240, 1);
	  }
	
	.box03 {
		position: relative;
		background-color: inherit;
		padding: 2rem;
		margin: 0;
		width: 100%;
		border: 1px solid rgba(0, 0, 0, .15);
		border-radius: 0.35rem;
	}
	
	  .box03_arrow {
		  position: absolute; 
		  width: 1.5rem; 
		  top: 1.55rem; 
		  left: -3rem; 
		  opacity: .3;
	  }
	
	        @media screen and (max-width: 736px) {
				
				.box, .box02 {
					padding: 1.5rem;
		        }
				
				.box03_arrow {
					width: 1.2rem;
					top: 1.2rem;
		        }
				
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		border: 0;
		cursor: pointer;
		display: inline-block;
		letter-spacing: 0;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		font-size: 1rem;
		width: auto;
		height: 2.5rem;
		line-height: 2.5;
		border-radius: 0.25rem;
		padding: 0 1rem;
		text-overflow: ellipsis;
		overflow: hidden;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5rem;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.7rem;
			width: auto;
			height: 3rem;
			line-height: 3.1;
			border-radius: 0.25rem;
			padding: 0 0 0 0.8rem;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 0.8rem;
			height: 3.25rem;
			line-height: 3.25rem;
			width: auto;
			border-radius: 0.25rem;
			padding: 0 1.5rem;
			text-align: center;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: inherit;
		box-shadow: inset 0 0 0 1px rgba(39, 38, 35, 1);
		color: rgba(39, 38, 35, 1) !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			box-shadow: inset 0 0 0 1px rgba(39, 38, 35, 0.25);
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(33, 95, 205, 1);
			box-shadow: inset 0 0 0 1px rgba(33, 95, 205, 1);
		}
		
	input[type="submit"].secondary,
	input[type="reset"].secondary,
	input[type="button"].secondary,
	button.secondary,
	.button.secondary {
		background-color: rgba(39, 38, 35, .125);
		box-shadow: none;
		color: rgba(39,38,35,1) !important;
	}

		input[type="submit"].secondary:hover,
		input[type="reset"].secondary:hover,
		input[type="button"].secondary:hover,
		button.secondary:hover,
		.button.secondary:hover {
			background-color: rgba(39, 38, 35, .05);
			box-shadow: inset 0 0 0 1px rgba(39, 38, 35, .0);
		}

		input[type="submit"].secondary:active,
		input[type="reset"].secondary:active,
		input[type="button"].secondary:active,
		button.secondary:active,
		.button.secondary:active {
			background-color: rgba(39, 38, 35, 1);
			box-shadow: inset 0 0 0 1px rgba(39, 38, 35, 1);
		}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background-color: rgba(39, 38, 35, 1);
			box-shadow: none;
			color: rgba(255, 255, 255, 1) !important;
		}

			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			input[type="button"].primary:hover,
			button.primary:hover,
			.button.primary:hover {
				background-color: #4432f7;
				box-shadow: none;
			}

			input[type="submit"].primary:active,
			input[type="reset"].primary:active,
			input[type="button"].primary:active,
			button.primary:active,
			.button.primary:active {
				background-color: #4432f7;
				box-shadow: none;
			}
	
	@media screen and (max-width: 736px) {
		
		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 0.9rem;
			height: 3.5rem;
			line-height: 3.5rem;
			width: auto;
			border-radius: 0.25rem;
			padding: 0 1.75rem;
			text-align: center;
		}
	}
						
/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
		}
		
		.contrast img {
			filter: contrast(95%) brightness(100%);
		}
		
		.rounded img {
			border-radius: 0.35rem;
		}
		
		.rounded video {
			border-radius: 0.35rem;
		}
		
		.image video {
			display: block;
			opacity: 1;
		}

		.image.left, .image.right {
			width: 40%;
			max-width: 10rem;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1.5rem 1rem 0;
			top: 0.25rem;
		}

		.image.right {
			float: right;
			margin: 0 0 1rem 1.5rem;
			top: 0.25rem;
		}

		.image.fit {
			display: block;
			margin: 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}
			
			.image.fit video {
				width: 100%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 0 0;
		padding: 0 0 0 0.85rem;
	}

		ol li {
			padding-bottom: 1rem;
		}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	ul.alter {
		list-style: none;
		padding: 0;
		margin: 0;
	}

		ul li {
			display: inline-block;
			padding-right: 1.5rem;
		}
		
		ul.alter li {
			display: block;
			padding: 2rem 0;
			border-top: 1px solid #e0e0e0;
		}

	dl {
		margin: 0 0 2rem 0;
	}

		dl dt {
			display: block;
			margin: 0 0 1rem 0;
		}

		dl dd {
			list-style: none;
			margin-left: 2rem;
			margin-top: 1.35rem;
		}

		dl.style2 dt {
			width: 25%;
			float: left;
		}

		dl.style2 dd {
			width: 70%;
			float: left;
		}

		dl.style2:after {
			content: '';
			display: block;
			clear: both;
		}
		
		@media screen and (max-width: 736px) {
			
			ul.alter li {
				padding: 1.5rem 0;
			}
			
		}

/* Actions */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1rem;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1rem;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			width: 100%;
			margin-left: 0;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
			}

		ul.actions.stacked {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
		}

			ul.actions.stacked li {
				padding: 1.3rem 0 0 0;
			}

				ul.actions.stacked li:first-child {
					padding-top: 0;
				}

		ul.actions.fit {
			width: calc(100% + 1rem);
		}

			ul.actions.fit li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				width: 100%;
			}

				ul.actions.fit li > * {
					width: 100%;
				}

			ul.actions.fit.stacked {
				width: 100%;
			}

		@media screen and (max-width: 480px) {

			ul.actions:not(.fixed) {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin-left: 0;
				width: 100% !important;
			}

				ul.actions:not(.fixed) li {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					padding: 1rem 0 0 0;
					text-align: center;
					width: 100%;
				}

					ul.actions:not(.fixed) li > * {
						width: 100%;
					}

					ul.actions:not(.fixed) li:first-child {
						padding-top: 0;
					}

					ul.actions:not(.fixed) li input[type="submit"],
					ul.actions:not(.fixed) li input[type="reset"],
					ul.actions:not(.fixed) li input[type="button"],
					ul.actions:not(.fixed) li button,
					ul.actions:not(.fixed) li .button {
						width: 100%;
					}

						ul.actions:not(.fixed) li input[type="submit"].icon:before,
						ul.actions:not(.fixed) li input[type="reset"].icon:before,
						ul.actions:not(.fixed) li input[type="button"].icon:before,
						ul.actions:not(.fixed) li button.icon:before,
						ul.actions:not(.fixed) li .button.icon:before {
							margin-left: -0.5rem;
						}

		}
		
/* Banner (transitions) */

	.banner.onload-content-fade-up .content {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

	body.is-preload .banner.onload-content-fade-up .content {
		-moz-transform: translateY(1rem);
		-webkit-transform: translateY(1rem);
		-ms-transform: translateY(1rem);
		transform: translateY(1rem);
		opacity: 0;
	}

	.banner.onload-content-fade-down .content {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

	body.is-preload .banner.onload-content-fade-down .content {
		-moz-transform: translateY(-1rem);
		-webkit-transform: translateY(-1rem);
		-ms-transform: translateY(-1rem);
		transform: translateY(-1rem);
		opacity: 0;
	}

	.banner.onload-content-fade-left .content {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

	body.is-preload .banner.onload-content-fade-left .content {
		-moz-transform: translateX(1rem);
		-webkit-transform: translateX(1rem);
		-ms-transform: translateX(1rem);
		transform: translateX(1rem);
		opacity: 0;
	}

	.banner.onload-content-fade-right .content {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

	body.is-preload .banner.onload-content-fade-right .content {
		-moz-transform: translateX(-1rem);
		-webkit-transform: translateX(-1rem);
		-ms-transform: translateX(-1rem);
		transform: translateX(-1rem);
		opacity: 0;
	}

	.banner.onload-content-fade-in .content {
		-moz-transition: opacity 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out;
	}

	body.is-preload .banner.onload-content-fade-in .content {
		opacity: 0;
	}

	.banner.onload-image-fade-up .image {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

		.banner.onload-image-fade-up .image img {
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
			-moz-transition-delay: 0.5625s;
			-webkit-transition-delay: 0.5625s;
			-ms-transition-delay: 0.5625s;
			transition-delay: 0.5625s;
		}

	body.is-preload .banner.onload-image-fade-up .image {
		-moz-transform: translateY(1rem);
		-webkit-transform: translateY(1rem);
		-ms-transform: translateY(1rem);
		transform: translateY(1rem);
		opacity: 0;
	}

		body.is-preload .banner.onload-image-fade-up .image img {
			opacity: 0;
		}

	.banner.onload-image-fade-down .image {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

		.banner.onload-image-fade-down .image img {
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
			-moz-transition-delay: 0.5625s;
			-webkit-transition-delay: 0.5625s;
			-ms-transition-delay: 0.5625s;
			transition-delay: 0.5625s;
		}

	body.is-preload .banner.onload-image-fade-down .image {
		-moz-transform: translateY(-1rem);
		-webkit-transform: translateY(-1rem);
		-ms-transform: translateY(-1rem);
		transform: translateY(-1rem);
		opacity: 0;
	}

		body.is-preload .banner.onload-image-fade-down .image img {
			opacity: 0;
		}

	.banner.onload-image-fade-left .image {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

		.banner.onload-image-fade-left .image img {
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
			-moz-transition-delay: 0.5625s;
			-webkit-transition-delay: 0.5625s;
			-ms-transition-delay: 0.5625s;
			transition-delay: 0.5625s;
		}

	body.is-preload .banner.onload-image-fade-left .image {
		-moz-transform: translateX(1rem);
		-webkit-transform: translateX(1rem);
		-ms-transform: translateX(1rem);
		transform: translateX(1rem);
		opacity: 0;
	}

		body.is-preload .banner.onload-image-fade-left .image img {
			opacity: 0;
		}

	.banner.onload-image-fade-right .image {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

		.banner.onload-image-fade-right .image img {
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
			-moz-transition-delay: 0.5625s;
			-webkit-transition-delay: 0.5625s;
			-ms-transition-delay: 0.5625s;
			transition-delay: 0.5625s;
		}

	body.is-preload .banner.onload-image-fade-right .image {
		-moz-transform: translateX(-1rem);
		-webkit-transform: translateX(-1rem);
		-ms-transform: translateX(-1rem);
		transform: translateX(-1rem);
		opacity: 0;
	}

		body.is-preload .banner.onload-image-fade-right .image img {
			opacity: 0;
		}

	.banner.onload-image-fade-in .image img {
		-moz-transition: opacity 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out;
	}

	body.is-preload .banner.onload-image-fade-in .image img {
		opacity: 0;
	}

	.banner.onscroll-content-fade-up .content {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

	.banner.onscroll-content-fade-up.is-inactive .content {
		-moz-transform: translateY(1rem);
		-webkit-transform: translateY(1rem);
		-ms-transform: translateY(1rem);
		transform: translateY(1rem);
		opacity: 0;
	}

	.banner.onscroll-content-fade-down .content {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;

		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

	.banner.onscroll-content-fade-down.is-inactive .content {
		-moz-transform: translateY(-1rem);
		-webkit-transform: translateY(-1rem);
		-ms-transform: translateY(-1rem);
		transform: translateY(-1rem);
		opacity: 0;
	}

	.banner.onscroll-content-fade-left .content {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

	.banner.onscroll-content-fade-left.is-inactive .content {
		-moz-transform: translateX(1rem);
		-webkit-transform: translateX(1rem);
		-ms-transform: translateX(1rem);
		transform: translateX(1rem);
		opacity: 0;
	}

	.banner.onscroll-content-fade-right .content {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

	.banner.onscroll-content-fade-right.is-inactive .content {
		-moz-transform: translateX(-1rem);
		-webkit-transform: translateX(-1rem);
		-ms-transform: translateX(-1rem);
		transform: translateX(-1rem);
		opacity: 0;
	}

	.banner.onscroll-content-fade-in .content {
		-moz-transition: opacity 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out;
	}

	.banner.onscroll-content-fade-in.is-inactive .content {
		opacity: 0;
	}

	.banner.onscroll-image-fade-up .image {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

		.banner.onscroll-image-fade-up .image img {
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
			-moz-transition-delay: 0.5625s;
			-webkit-transition-delay: 0.5625s;
			-ms-transition-delay: 0.5625s;
			transition-delay: 0.5625s;
		}

	.banner.onscroll-image-fade-up.is-inactive .image {
		-moz-transform: translateY(1rem);
		-webkit-transform: translateY(1rem);
		-ms-transform: translateY(1rem);
		transform: translateY(1rem);
		opacity: 0;
	}

		.banner.onscroll-image-fade-up.is-inactive .image img {
			opacity: 0;
		}

	.banner.onscroll-image-fade-down .image {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

		.banner.onscroll-image-fade-down .image img {
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
			-moz-transition-delay: 0.5625s;
			-webkit-transition-delay: 0.5625s;
			-ms-transition-delay: 0.5625s;
			transition-delay: 0.5625s;
		}

	.banner.onscroll-image-fade-down.is-inactive .image {
		-moz-transform: translateY(-1rem);
		-webkit-transform: translateY(-1rem);
		-ms-transform: translateY(-1rem);
		transform: translateY(-1rem);
		opacity: 0;
	}

		.banner.onscroll-image-fade-down.is-inactive .image img {
			opacity: 0;
		}

	.banner.onscroll-image-fade-left .image {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

		.banner.onscroll-image-fade-left .image img {
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
			-moz-transition-delay: 0.5625s;
			-webkit-transition-delay: 0.5625s;
			-ms-transition-delay: 0.5625s;
			transition-delay: 0.5625s;
		}

	.banner.onscroll-image-fade-left.is-inactive .image {
		-moz-transform: translateX(1rem);
		-webkit-transform: translateX(1rem);
		-ms-transform: translateX(1rem);
		transform: translateX(1rem);
		opacity: 0;
	}

		.banner.onscroll-image-fade-left.is-inactive .image img {
			opacity: 0;
		}

	.banner.onscroll-image-fade-right .image {
		-moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
	}

		.banner.onscroll-image-fade-right .image img {
			-moz-transition: opacity 0.75s ease-in-out;
			-webkit-transition: opacity 0.75s ease-in-out;
			-ms-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;
			-moz-transition-delay: 0.5625s;
			-webkit-transition-delay: 0.5625s;
			-ms-transition-delay: 0.5625s;
			transition-delay: 0.5625s;
		}

	.banner.onscroll-image-fade-right.is-inactive .image {
		-moz-transform: translateX(-1rem);
		-webkit-transform: translateX(-1rem);
		-ms-transform: translateX(-1rem);
		transform: translateX(-1rem);
		opacity: 0;
	}

		.banner.onscroll-image-fade-right.is-inactive .image img {
			opacity: 0;
		}

	.banner.onscroll-image-fade-in .image img {
		-moz-transition: opacity 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out;
	}

	.banner.onscroll-image-fade-in.is-inactive .image img {
		opacity: 0;
	}
	
/* Banner (style5) */

	.banner.style5 {
		padding: 1rem 2rem ;
		margin: 0 auto;
		width: 100%;
		-moz-align-items: left;
		-webkit-align-items: left;
		-ms-align-items: left;
		align-items: left;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: left;
		-webkit-justify-content: left;
		-ms-justify-content: left;
		justify-content: left;
		background-color: inherit;
		position: relative;
		overflow-x: hidden;
	}

		.banner.style5 .content {
			position: relative;
			width: 100%;
			height: 100svh;
			overflow: hidden;
			z-index: 2;
		}

		.banner.style5 .image {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 1;
		}

			.banner.style5 .image img {
				-moz-object-fit: cover;
				-webkit-object-fit: cover;
				-ms-object-fit: cover;
				object-fit: cover;
				-moz-object-position: center;
				-webkit-object-position: center;
				-ms-object-position: center;
				object-position: center;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			
			.banner.style5 .image video {
				-webkit-appearance: none;
                transform: rotateY(180deg);
				-moz-object-fit: cover;
				-webkit-object-fit: cover;
				-ms-object-fit: cover;
				object-fit: cover;
				-moz-object-position: center;
				-webkit-object-position: center;
				-ms-object-position: center;
				object-position: center;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.85;
				z-index: 1;
			}

		@media screen and (max-width: 1680px) {

			.banner.style5 {
				padding: 1rem 2rem ;
			}

		}

		@media screen and (max-width: 1280px) {

			.banner.style5 {
				padding: 0.5rem 1rem ;
			}

		}

		@media screen and (max-width: 1080px) {

			.banner.style5 {
				padding: 0.5rem 1rem;
			}

		}

	    @media screen and (max-width: 1024px) {

		    .banner.style5 {
		    	padding: 0 1rem ;
		    }

	    }

		@media screen and (max-width: 980px) {

			.banner.style5 {
				padding: 0 1rem ;
			}

		}

		@media screen and (max-width: 736px) {

			.banner.style5 {
				padding: 0 1rem ;
			}

		}

		.banner.style5.fullscreen {
			min-height: 100vh;
		}

		.banner.style5.content-align-left {
			text-align: left;
		}

		.banner.style5.content-align-right {
			text-align: right;
		}

		.banner.style5.image-position-left .image img {
			-moz-object-position: left;
			-webkit-object-position: left;
			-ms-object-position: left;
			object-position: left;
		}

		.banner.style5.image-position-right .image img {
			-moz-object-position: right;
			-webkit-object-position: right;
			-ms-object-position: right;
			object-position: right;
		}

	.banner .image {
		background-color: rgba(0, 0, 0, 0);
	}

	.banner.invert .image {
		background-color: rgba(0, 0, 0, 0);
	}
	
	.banner.invert .image video {
		background-color: rgba(0, 0, 0, 0);
	}
	
/* Banner (style1) */

	.banner.style1 {
		padding: 1rem 2rem ;
		margin: 0 auto;
		width: 100%;
		-moz-align-items: left;
		-webkit-align-items: left;
		-ms-align-items: left;
		align-items: left;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: left;
		-webkit-justify-content: left;
		-ms-justify-content: left;
		justify-content: left;
		background-color: inherit;
		position: relative;
		overflow-x: hidden;
	}

		.banner.style1 .content {
			position: relative;
			width: 100%;
			height: 50svh;
			overflow: hidden;
			z-index: 2;
		}

		.banner.style1 .image {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 1;
		}

			.banner.style1 .image img {
				-moz-object-fit: cover;
				-webkit-object-fit: cover;
				-ms-object-fit: cover;
				object-fit: cover;
				-moz-object-position: center;
				-webkit-object-position: center;
				-ms-object-position: center;
				object-position: center;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			
			.banner.style1 .image video {
				-webkit-appearance: none;
                transform: rotateY(180deg);
				-moz-object-fit: cover;
				-webkit-object-fit: cover;
				-ms-object-fit: cover;
				object-fit: cover;
				-moz-object-position: center;
				-webkit-object-position: center;
				-ms-object-position: center;
				object-position: center;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 1;
				z-index: 1;
			}

		@media screen and (max-width: 1680px) {

			.banner.style1 {
				padding: 1rem 2rem ;
			}

		}

		@media screen and (max-width: 1280px) {

			.banner.style1 {
				padding: 0.5rem 1rem ;
			}

		}

		@media screen and (max-width: 1080px) {

			.banner.style1 {
				padding: 0.5rem 1rem;
			}

		}

	    @media screen and (max-width: 1024px) {

		    .banner.style1 {
		    	padding: 0 1rem ;
		    }

	    }

		@media screen and (max-width: 980px) {

			.banner.style1 {
				padding: 0 1rem ;
			}

		}

		@media screen and (max-width: 736px) {

			.banner.style1 {
				padding: 0 1rem ;
			}

		}

		.banner.style1.fullscreen {
			min-height: 100vh;
		}

		.banner.style1.content-align-left {
			text-align: left;
		}

		.banner.style1.content-align-right {
			text-align: right;
		}

		.banner.style1.image-position-left .image img {
			-moz-object-position: left;
			-webkit-object-position: left;
			-ms-object-position: left;
			object-position: left;
		}

		.banner.style1.image-position-right .image img {
			-moz-object-position: right;
			-webkit-object-position: right;
			-ms-object-position: right;
			object-position: right;
		}

/* Wrapper (style1) */

	.wrapper.style1 > .inner {
		padding: 1rem 2rem ;
		margin: 0 auto;
		width: 100%;
	}

		.wrapper.style1 > .inner.medium {
			width: 48rem;
		}

		.wrapper.style1 > .inner.small {
			width: 32rem;
		}

	@media screen and (max-width: 1680px) {

		.wrapper.style1 > .inner {
			padding: 1rem 2rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.wrapper.style1 > .inner {
			padding: 0.5rem 1rem ;
		}

	}

	@media screen and (max-width: 1080px) {

		.wrapper.style1 > .inner {
			padding: 0.5rem 1rem;
		}

	}

	@media screen and (max-width: 1024px) {

		.wrapper.style1 > .inner {
			padding: 0 1rem ;
		}

	}

	@media screen and (max-width: 768px) {

		.wrapper.style1 > .inner {
			padding: 0 1rem ;
		}

	}

/* Wrapper (style2) */

	.wrapper.style2 {
		padding: 0;
	}

		.wrapper.style2 > .inner {
			background-color: inherit;
			padding: 0 1rem 1rem 1rem ;
			margin: 0 auto;
			width: 100%;
			position: relative;
			z-index: 1;
		}
		
		@media screen and (max-width: 1680px) {

			.wrapper.style2 {
				padding: 0;
			}

				.wrapper.style2 > .inner {
					padding: 0 1rem 1rem 1rem ;
				}

		}

		@media screen and (max-width: 1280px) {

			.wrapper.style2 {
				padding: 0;
			}

				.wrapper.style2 > .inner {
					padding: 0 1rem 1rem 1rem ;
				}

		}

		@media screen and (max-width: 1180px) {

			.wrapper.style2 > .inner {
				position: fixed;
			}

				.wrapper.style2 > .inner {
					padding: 0 1rem 0.75rem 1rem ;
				}

		}

		@media screen and (max-width: 980px) {

			.wrapper.style2 {
				padding: 0;
			}

				.wrapper.style2 > .inner {
					padding: 0 1rem 1rem 1rem ;
				}

		}

		@media screen and (max-width: 820px) {

			.wrapper.style2 {
				padding: 0;
			}

				.wrapper.style2 > .inner {
					padding: 0 1rem 0.75rem 1rem ;
				}

		}

		@media screen and (max-width: 768px) {

			.wrapper.style2 {
				padding: 0;
			}

				.wrapper.style2 > .inner {
					padding: 1rem ;
				}

		}

/* Index */

	.index > * {
		padding: 0 ;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		border-top: 0;
	}

		.index > * > header {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
		}

		.index > * > .content {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
		}

	.index > :first-child {
		border-top: 0;
	}

	@media screen and (max-width: 980px) {

		.index > * > header {
			width: 11rem;
		}

	}

	@media screen and (max-width: 736px) {

		.index > * > header {
			width: 10rem;
		}

	}

	@media screen and (max-width: 480px) {

		.index > * {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}

			.index > * > header {
				width: 100%;
			}

	}

	.index > * {
		border-top-color: rgba(0, 0, 0, 0);
	}

/* Wrapper */

	#wrapper {
		background-color: inherit;
		width: 100%;
		overflow-x: hidden;
	}

		#wrapper > .invert {
			background-color: #272623;
			color: rgba(255, 255, 255, .95);
		}

			#wrapper > .invert input, #wrapper > .invert select, #wrapper > .invert textarea {
				color: rgba(255, 255, 255, .95);
			}

			#wrapper > .invert a {
				color: rgba(255, 255, 255, 1);
			}

				#wrapper > .invert a:hover {
					color: rgba(255, 255, 255, .6);
					border-bottom: none;
				}

			#wrapper > .invert h1, #wrapper > .invert h2, #wrapper > .invert h3, #wrapper > .invert h4, #wrapper > .invert h5, #wrapper > .invert h6 {
				color: rgba(255, 255, 255, 1);
			}
			
			#wrapper > .invert p {
				color: rgba(255, 255, 255, 0.55);
			}

			#wrapper > .invert blockquote {
				border-left-color: white;
			}

			#wrapper > .invert code {
				background: rgba(255, 255, 255, 0.125);
				border-color: white;
			}

			#wrapper > .invert hr {
				border-bottom-color: rgba(255, 255, 255, 0.15);
			}

			#wrapper > .invert .box02 {
				border-color: rgba(255, 255, 255, 0.85);
			}

			#wrapper > .invert input[type="submit"],
			#wrapper > .invert input[type="reset"],
			#wrapper > .invert input[type="button"],
			#wrapper > .invert button,
			#wrapper > .invert .button {
				background-color: rgba(255, 255, 255, 1);
				background-image: none;
				box-shadow: none;
				color: #272623 !important;
			}

				#wrapper > .invert input[type="submit"]:hover,
				#wrapper > .invert input[type="reset"]:hover,
				#wrapper > .invert input[type="button"]:hover,
				#wrapper > .invert button:hover,
				#wrapper > .invert .button:hover {
					background-color: rgba(255, 255, 255, 0.6);
					box-shadow: none;
					color: #272623 !important;
				}

				#wrapper > .invert input[type="submit"]:active,
				#wrapper > .invert input[type="reset"]:active,
				#wrapper > .invert input[type="button"]:active,
				#wrapper > .invert button:active,
				#wrapper > .invert .button:active {
					background-color: rgba(255, 255, 255, 1);
					box-shadow: none;
					color: rgba(255, 255, 255, 1) !important;
				}

				#wrapper > .invert input[type="submit"].primary,
				#wrapper > .invert input[type="reset"].primary,
				#wrapper > .invert input[type="button"].primary,
				#wrapper > .invert button.primary,
				#wrapper > .invert .button.primary {
					background-color: rgba(255, 255, 255, 1);
					background-image: none;
			        box-shadow: none;
					color: rgba(0, 0, 0, 1) !important;
				}

					#wrapper > .invert input[type="submit"].primary:hover,
					#wrapper > .invert input[type="reset"].primary:hover,
					#wrapper > .invert input[type="button"].primary:hover,
					#wrapper > .invert button.primary:hover,
					#wrapper > .invert .button.primary:hover {
						background-color: #4432f7;
					    box-shadow: none;
						color: rgba(255, 255, 255, 1) !important;
					}

					#wrapper > .invert input[type="submit"].primary:active,
					#wrapper > .invert input[type="reset"].primary:active,
					#wrapper > .invert input[type="button"].primary:active,
					#wrapper > .invert button.primary:active,
					#wrapper > .invert .button.primary:active {
						background-color: #4432f7;
					    box-shadow: none;
						color: rgba(255, 255, 255, 1) !important;
					}

			#wrapper > .invert label {
				color: #ffffff;
			}

			#wrapper > .invert input[type="text"],
			#wrapper > .invert input[type="password"],
			#wrapper > .invert input[type="email"],
			#wrapper > .invert input[type="tel"],
			#wrapper > .invert input[type="search"],
			#wrapper > .invert input[type="url"],
			#wrapper > .invert select,
			#wrapper > .invert textarea {
				border-color: rgba(255, 255, 255, 0.25);
			}

				#wrapper > .invert input[type="text"]:focus,
				#wrapper > .invert input[type="password"]:focus,
				#wrapper > .invert input[type="email"]:focus,
				#wrapper > .invert input[type="tel"]:focus,
				#wrapper > .invert input[type="search"]:focus,
				#wrapper > .invert input[type="url"]:focus,
				#wrapper > .invert select:focus,
				#wrapper > .invert textarea:focus {
					border-color: #141414;
					box-shadow: 0 0 0 1px #141414;
				}

			#wrapper > .invert ::-webkit-input-placeholder {
				color: #ffffff !important;
			}

			#wrapper > .invert :-moz-placeholder {
				color: #ffffff !important;
			}

			#wrapper > .invert ::-moz-placeholder {
				color: #ffffff !important;
			}

			#wrapper > .invert :-ms-input-placeholder {
				color: #ffffff !important;
			}

			#wrapper > .invert ul.alt li {
				border-top-color: white;
			}

			#wrapper > .invert .banner .image {
				background-color: rgba(255, 255, 255, 0);
			}

			#wrapper > .invert .index > * {
				border-top-color: white;
			}

		#wrapper > .color_00 {
			background-color: #000;
		}
		
		#wrapper > .color_Eg_5 {
			background-color: #f0f0f0;
		}
		
		#wrapper > .color_Eg_15 {
			background-color: #e6e7e8;
		}
		
		#wrapper > .color_Eg_25 {
			background-color: #d5d7d8;
		}
		
		#wrapper > .color_Eg_50 {
			background-color: #979899;
		}
		
		#wrapper > .color_Eg_100 {
			background-color: #676869;
		}
		
		#wrapper > .color_Eb_100 {
			background-color: #4432f7;

		#wrapper.divided > * {
			box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0);
		}

			#wrapper.divided > *:first-child {
				box-shadow: none !important;
			}

		#wrapper.divided > .invert {
			box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0);
		}

			#wrapper.divided > .invert:first-child {
				box-shadow: none !important;
			}