.collapsible {
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
}
.active, .collapsible:hover {
	opacity: 1;
}
.collapsible:after {
	position: fixed;
	content: 'M';
}
.active:after {
	content: 'X';
}
.coltext {
	position: fixed;
	background-color: #212121;
	padding: 0;
	margin: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	z-index: 2;
}
.coltext .block {
	position: relative;
	width: 100%;
	height: 100svh;
	overflow: hidden;
	z-index: 2;
}
.coltext ul {
	position: absolute;
	left: 0.5rem;
	bottom: 1rem;
}
.coltext ul li {
	display: block;
	margin-top: -0.5rem;
	color: #d7d7d7;
	font-size: 2.5rem;
}
.coltext a, .coltext a:hover {
	color: #dedede;
}
@media screen and (max-width: 736px) {
.collapsible {
	padding: 0;
	margin: 0;
}
.active, .collapsible:hover {
	opacity: 1;
}
.collapsible:after {
	position: fixed;
	top: 0.5rem;
	right: 0.5rem;
}
.coltext {
	color: #FFF;
}
}
