.wrapper_menu{
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: #18191a;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
  z-index: 1;
  overflow: hidden;
}
#active:checked ~ .wrapper_menu{
  /*left: 0;*/
  right:0;
}
.menu-btn{
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
  position: absolute;
  z-index: 2;
  right: 0.75rem;
  /*left: 20px; */
  top: 1.6rem;
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
  display: none;
}
.menu-btnb{
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
  position: absolute;
  z-index: 2;
  right: 0.75rem;
  /*left: 20px; */
  top: 1.6rem;
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
  display: none;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	-webkit-tap-highlight-color: transparent !important;
    outline: none !important;
    content: "";
	position: absolute;
	top: 0;
	width: 40%;
	border-bottom: 2px solid #f3f3f3;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btnb span,
.menu-btnb:before,
.menu-btnb:after{
	-webkit-tap-highlight-color: transparent !important;
    outline: none !important;
    content: "";
	position: absolute;
	top: 0;
	width: 40%;
	border-bottom: 2px solid #18191a;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before{
  transform: translateY(-7px);
}
.menu-btn:after{
  transform: translateY(7px);
}

.menu-btnb:before{
  transform: translateY(-7px);
}
.menu-btnb:after{
  transform: translateY(7px);
}


.close {
	z-index: 3;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

@media screen and (max-width: 820px) {
	.menu-btn{
		display: block;
	}
	.menu-btnb{
		display: block;
	}
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #f3f3f3;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #f3f3f3;
}

/* closing animation */
#active:checked + .menu-btnb span {
	transform: scaleX(0);
}
#active:checked + .menu-btnb:before {
	transform: rotate(45deg);
  border-color: #f3f3f3;
}
#active:checked + .menu-btnb:after {
	transform: rotate(-45deg);
  border-color: #f3f3f3;
}
.wrapper_menu ul{
  position:relative;
  font-size: 0.7rem;
  left: 1rem;
  top: 0.8rem;
  list-style: none;
  text-align: left;
}
.wrapper_menu ul li{
  margin: 0.2rem 0 0 0;
  display: block;
  color: rgba(244, 244, 244, 0.5);
  border-bottom: 1px solid rgba(244, 244, 244, 0.15);
}
.wrapper_menu ul li a{
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0;
  color: rgba(244, 244, 244, 0.9);
  position: relative;
  line-height: 1.75;
  margin: 0;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper_menu ul li a:after{
  color: rgba(244, 244, 244, 0.9);
  position: relative;
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper_menu ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper_menu ul li a:hover{
  color: rgba(244, 244, 244, 0.9);
}
.wrapper_menu ul li a:link:active, a:visited:active {
  color: rgba(244, 244, 244, 0.9);
}
#wrapper > .invert .wrapper_menu ul li a{
  color: rgba(244, 244, 244, 0.9);
}
#wrapper > .invert .wrapper_menu ul li a:after{
  color: rgba(244, 244, 244, 0.9);
}
#wrapper > .invert .wrapper_menu ul li a:hover:after{
  transform: scaleY(1);
}
#wrapper > .invert .wrapper_menu ul li a:link:active, a:visited:active {
  color: rgba(244, 244, 244, 0.9);
}
input[type="checkbox"]{
  display: none;
}
.content_menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #1B1B2D;
}
.content_menu .title{
  font-size: 40px;
}
.content_menu p{
  font-size: 35px;
}

#active:checked ~ .wrapper_menu ul li a{
  opacity: 1;
}
.wrapper_menu ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper_menu ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
   transition-delay: .6s;
  transform: translateX(-100px);
}