		body {
			background-color: #fff;
            transition: background-color 1s ease;
        }
		#logosymbol {
			position: relative;
			float: left;
			width: 2.5rem;
			margin-top: -0.65rem;
		}
		#logosymbol_b {
			position: relative;
			float: left;
			width: 2.5rem;
			margin-top: 0.8rem;
		}
		#topmenu {
			margin-top: 0;
		}
		.submenu {
			font-size: 1.35rem;
		}
		.submenu a {
			color: rgba(59, 59, 75, 0.5);
		}
		.submenu a:hover {
			color: rgba(59, 59, 75, 1);
		}
		.submenu a:active, a:visited:active {
			color: rgba(59, 59, 75, 0.5);
		}
		ul.submenu li {
			line-height: 1.2;
			border-bottom: 1px solid rgba(59, 59, 75, 0.1);
			margin-top: 0.25rem;
		}
		.submenu_num {
			width: 3.5rem;
			float: left;
		}
		.submenu_num2 {
			width: 3.5rem;
			float: left;
		}
		.menumob {
			display: none;
		}
		.footer-bottom {
			flex: 1;
			margin-bottom: 1rem;
		}
		.footer-bottom-raster {	
		    flex: 1;
            height: 100%;
            width: 100%;
            display: flex;
            gap: 1px;
            justify-content: space-around;
  		}
		.line {
			display: inline-block;
			height: 160px;
			border-left: 1px solid rgba(59, 59, 75, 0.8);
			margin-right: 2px;
		}
        @media screen and (max-width: 1024px) {
		.submenu_num {
			width: 3rem;
		}
        @media screen and (max-width: 820px) {
		.menumob {
			display: block;
		}
        @media screen and (max-width: 736px) {
		.logotype {
			font-size: 1.35rem;
			margin-top: -0.4rem;
		}
		#logosymbol {
			width: 2.25rem;
			margin-top: -0.6rem;
		}
		#logosymbol_b {
			width: 3rem;
			margin-top: 2rem;
		}
		#topmenu_logo {
			display: none;
		}
		#topmenu {
			font-size: 1rem;
			margin-top: 1rem;
		}
		.submenu {
			font-size: 1rem;
		}
		ul.submenu li {
			line-height: 1.2;
			margin-top: 0.25rem;
		}
		.submenu_num {
			width: 50%;
		}
		.submenu_num2 {
			width: 3rem;
		}
		ul.spacemenu li {
			margin-bottom: 0.5rem;
		}
		.footer-bottom {	
		    margin-bottom: 1rem;
		    padding-left: 1rem;
			padding-right: 1rem;
		}
		.line {
			height: 120px;
			border-left: 1px solid #08080F;
			margin-right: 4px;
		}