		#logosymbol {
			position: relative;
			float: left;
			width: 7rem;
			margin-top: -0.5rem;
		}
		#logosymbol_b {
			position: relative;
			float: left;
			width: 3.5rem;
			margin-top: 2.35rem;
		}
		#topmenu {
			margin-top: 0;
		}
		.submenu {
			font-size: 1.35rem;
		}
		.submenu a {
			color: rgba(59, 59, 75, 0.5);
		}
		.submenu a:hover {
			color: rgba(59, 59, 75, 1);
		}
		.submenu a:active, a:visited:active {
			color: rgba(59, 59, 75, 0.5);
		}
		ul.submenu li {
			line-height: 1.2;
			border-bottom: 1px solid rgba(59, 59, 75, 0.1);
			margin-top: 0.25rem;
		}
		.submenu_num {
			width: 3.5rem;
			float: left;
		}
		.submenu_num2 {
			width: 3.5rem;
			float: left;
		}
		.menumob {
			display: none;
		}
		ul.spacemenu li {
			margin-bottom: 0;
		}
		.goup {
			position: relative;
			float: right;
		}
		ul.goup li {
			padding: 0.25rem 0.5rem 0 0;
		}
        @media screen and (max-width: 1180px) {
		.submenu_num {
			width: 3rem;
		}
		.menumob {
			display: block;
		}
		.nomob {
			display: none;
		}
        @media screen and (max-width: 736px) {
		.logotype {
			margin-top: 0;
		}
		#logosymbol {
			width: 7.15rem;
			margin-top: 0;
		}
		#topmenu {
			margin: 0 0 2rem 0;
		}
		ul.submenu li {
			margin-top: 0;
		}
		.submenu_num {
			width: 50%;
		}
		.submenu_num2 {
			width: 3rem;
		}
		.goup {
			margin-top: 0;
		}